#  Local .terraform directories / Module directory
**/.terraform/*

# .tfstate files / Compiled states files.
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Ignore IDE temp files
.idea/

# DS_Store
.DS_Store